#General folders

code-docstring-corpus
DeepTyper
documentation
report
list_github_projects.txt

#AST
AST/__pycache__
AST/arg.py

#AST_gen
AST_gen/__pycache__
AST_gen/._graphs_bdd.jsonl
AST_gen/._graphs.jsonl
AST_gen/._graphs.json
AST_gen/._graphs.jsonl.gz
AST_gen/test*.json
AST_gen.*.png
AST_gen/download_data/data_repos
AST_gen/download_data/douteux
AST_gen/mock_data/data_repos
AST_gen/mock_data/data-repos2

# GGNN samples

gated-graph-neural-network-samples/__pycache__
gated-graph-neural-network-samples/data
gated-graph-neural-network-samples/2019*.json
gated-graph-neural-network-samples/2019*.pickle
gated-graph-neural-network-samples/molecules*.json
gated-graph-neural-network-samples/*.txt

#
part-ii-project

#
OpenGNN/data/chem/data
OpenGNN/data/chem/model_dir
OpenGNN/data/pcode/model_dir
OpenGNN/data/chem/*.vocab
#OpenGNN/data/pcode/*.vocab


#
Symtable

